<noscript>
  <div
    class="video-section__media"
    {% if block.settings.cover_image != blank %}
      style="padding-bottom: {{ 1 | divided_by: block.settings.cover_image.aspect_ratio | times: 100 }}%;"
    {% endif %}
  >
    <a
      href="{{ block.settings.external_video_url }}"
      class="video-section__poster media media--transparent media--landscape{% if block.settings.cover_image == blank %} video-section__placeholder{% endif %}"
    >
      {%- if block.settings.cover_image != blank -%}
        <img
          srcset="
            {%- if block.settings.cover_image.width >= 375 -%}{{ block.settings.cover_image | img_url: '375x' }} 375w,{%- endif -%}
            {%- if block.settings.cover_image.width >= 750 -%}{{ block.settings.cover_image | img_url: '750x' }} 750w,{%- endif -%}
            {%- if block.settings.cover_image.width >= 1100 -%}{{ block.settings.cover_image | img_url: '1100x' }} 1100w,{%- endif -%}
            {%- if block.settings.cover_image.width >= 1500 -%}{{ block.settings.cover_image | img_url: '1500x' }} 1500w,{%- endif -%}
            {%- if block.settings.cover_image.width >= 1780 -%}{{ block.settings.cover_image | img_url: '1780x' }} 1780w,{%- endif -%}
            {%- if block.settings.cover_image.width >= 2000 -%}{{ block.settings.cover_image | img_url: '2000x' }} 2000w,{%- endif -%}
            {%- if block.settings.cover_image.width >= 3000 -%}{{ block.settings.cover_image | img_url: '3000x' }} 3000w,{%- endif -%}
            {%- if block.settings.cover_image.width >= 3840 -%}{{ block.settings.cover_image | img_url: '3840x' }} 3840w,{%- endif -%}
            {{ block.settings.cover_image | img_url: 'master' }} {{ block.settings.cover_image.width }}w
          "
          src="{{ block.settings.cover_image | img_url: '1920x' }}"
          sizes="{% if block.settings.full_width %}100vw{% else %}(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw{% endif %}"
          alt="{{ 'sections.video.load_video' | t: description: block.settings.title | escape }}"
          loading="lazy"
          width="{{ block.settings.cover_image.width }}"
          height="{{ block.settings.cover_image.height }}"
        >
      {%- else -%}
        {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
      {%- endif -%}
    </a>
  </div>
</noscript>
<deferred-media
  class="video-section__media deferred-media relative w-full h-full no-js-hidden"
  data-media-id="{{ block.settings.external_video_url.id }}"
  {% if block.settings.cover_image != blank %}
    style="padding-bottom: {{ 1 | divided_by: block.settings.cover_image.aspect_ratio | times: 100 }}%;"
  {% endif %}
>
  <button
    id="Deferred-Poster-Modal-{{ block.settings.external_video_url.id }}"
    class="video-section__poster media deferred-media__poster media--landscape absolute inset-0"
    type="button"
  >
    {%- if block.settings.cover_image != blank -%}
      <img
        srcset="
          {%- if block.settings.cover_image.width >= 375 -%}{{ block.settings.cover_image | img_url: '375x' }} 375w,{%- endif -%}
          {%- if block.settings.cover_image.width >= 750 -%}{{ block.settings.cover_image | img_url: '750x' }} 750w,{%- endif -%}
          {%- if block.settings.cover_image.width >= 1100 -%}{{ block.settings.cover_image | img_url: '1100x' }} 1100w,{%- endif -%}
          {%- if block.settings.cover_image.width >= 1500 -%}{{ block.settings.cover_image | img_url: '1500x' }} 1500w,{%- endif -%}
          {%- if block.settings.cover_image.width >= 1780 -%}{{ block.settings.cover_image | img_url: '1780x' }} 1780w,{%- endif -%}
          {%- if block.settings.cover_image.width >= 2000 -%}{{ block.settings.cover_image | img_url: '2000x' }} 2000w,{%- endif -%}
          {%- if block.settings.cover_image.width >= 3000 -%}{{ block.settings.cover_image | img_url: '3000x' }} 3000w,{%- endif -%}
          {%- if block.settings.cover_image.width >= 3840 -%}{{ block.settings.cover_image | img_url: '3840x' }} 3840w,{%- endif -%}
          {{ block.settings.cover_image | img_url: 'master' }} {{ block.settings.cover_image.width }}w
        "
        src="{{ block.settings.cover_image | img_url: '1920x' }}"
        sizes="{% if block.settings.full_width %}100vw{% else %}(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw{% endif %}"
        alt="{{ 'sections.video.load_video' | t: description: block.settings.title | escape }}"
        loading="lazy"
        width="{{ block.settings.cover_image.width }}"
        height="{{ block.settings.cover_image.height }}"
      >
    {%- else -%}
      {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
    {%- endif -%}
    <span class="deferred-media__poster-button motion-reduce">
      {%- render 'icon-play' -%}
    </span>
  </button>
  <template>
    {%- if block.settings.external_video_url.type == 'youtube' -%}
      <iframe
        src="https://www.youtube.com/embed/{{ block.settings.external_video_url.id }}?playsinline=1&autoplay=1&controls=0&mute=1&loop=1&enablejsapi=1&rel=0&modestbranding=1&origin={{ shop.secure_url }}"
        class="w-full  h-full js-youtube"
        allow="autoplay; encrypted-media"
        allowfullscreen
        title="{{ block.settings.title | escape }}"
      ></iframe>
    {%- else -%}
      <iframe
        src="https://player.vimeo.com/video/{{ block.settings.external_video_url.id }}"
        class="w-full  h-full js-vimeo"
        allow="autoplay; encrypted-media"
        allowfullscreen
        title="{{ block.settings.title | escape }}"
      ></iframe>
    {%- endif -%}
  </template>
</deferred-media>
