{% liquid
  assign sid = section.id 
  assign section_blocks = section.blocks
  assign se_size = section_blocks.size | plus:0
  assign arr_blocks_img = section_blocks | where: "type", 'banner_img'
  assign index = 1
%}
{%- assign assign h_des = section.settings.h_des -%}
{%- assign assign h_tb = section.settings.h_tb -%}
{%- assign assign h_mb = section.settings.h_mb -%}
{%- assign full_width = section.settings.full_width -%}
{%- if section.settings.hidden %}{% break %}{% endif -%}
<section id="laber_{{sid}}" class="wow animate--slide-in banner_size_{{se_size}}" style="{% if section.settings.custom_width %}--alo-container-width:{{section.settings.container_width}}px;{% endif %}">
  <div class="{% if full_width %}full-width{% else %}container{% endif %}">  
          <div class="w-full h-full flex relative h_{{section.settings.h_position}} v_{{section.settings.v_position}} text_{{section.settings.txt_align}}"> 
          <div class="text-content col-lg-6 col-md-6 col-12">
                {% for block in section_blocks %}
                {% assign index = index|plus:1 %}                          		
                {%- case block.type -%}
                    {% when 'hd' %}
                      <h3 id="b_{{block.id}}" class="banner_title_h3 {% if block.settings.hide %} d-none{% endif %}" {{ block.shopify_attributes }}>                             
                        {% assign somearray = block.settings.title | split: ' ' %} 
                        {% assign pos = block.settings.custom_mark %}
                        {% assign index_mark  = 0 %}
                        {% for item in somearray %}
                        {% assign index_mark  = index_mark | plus: 1 %} 
                        <span  class="{% if block.settings.first_mark and forloop.first %}first {% endif %}{% if pos contains index_mark %}marked{% endif %}{% if block.settings.last_mark and forloop.last %}last {% endif %}" > 
                          {{item}}
                          </span>
                        {% endfor %}                             
                      </h3>
                    {% when 'btn' %}
                          
                          {%- if  block.settings.title != blank -%}
                            <a id="b_{{block.id}}"  class="{{ block.settings.btn_style }}" href="{{block.settings.btn_link}}" target="{{block.settings.open_link}}" style="--alo-border-radius:{{ block.settings.border }}px;"
                               {{ block.shopify_attributes }}>{{block.settings.title}} {{block.settings.icon_button}}</a>
                        {%- endif -%}
                    {% when 'txt' %}
                        <div id="b_{{block.id}}" class="{% if block.settings.hide %} d-none{% endif %}">
                            <p  {{ block.shopify_attributes }}>{{block.settings.title}}</p> 
                        </div>
                     {% when 'label' %}
                    {%- if  block.settings.title != blank -%}
                    <div id="b_{{block.id}}" class="label" {{ block.shopify_attributes }}>
                      <span>{{block.settings.title}}</span>
                    </div>	
                    {%- endif -%}
            
                {% else %} 
                {%- break -%}
                {%- endcase -%}
                {%- endfor -%}
          </div>
        </div>
  </div>
</section>
{%- render 'section_style' -%}
{%- render 'config-content-image', blocks:section_blocks -%}
{%- schema -%}
  {
    "name": "Text Content",
    "class": "laber_section type_text_content",	
    "settings": [
      {
        "type": "select",
        "id": "h_position",
        "label": "Horizontal Position",
        "default": "left",
        "options": [
            {
            "value": "left",
            "label": "Left"
            },
            {
            "value": "center",
            "label": "Center"
            },
            {
            "value": "right",
            "label": "Right"
            }
          ]
        },
        
		{
            "type": "select",
            "id": "txt_align",
            "label": "Text Align",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
      {
        "type": "header",
        "content": "== Setting PC",
		"info":"Margin"
      },
      {
          "type": "checkbox",
          "id": "full_width",
          "label": "Full width",
          "default": false
        },
      {
        "type": "checkbox",
        "id": "custom_width",
        "label":"Custom width",
        "default": false
      },
      {
          "type": "range",  
          "id": "container_width",  
          "label": "Container width",
          "min": 1200,
          "max": 1900,
          "step": 10,
          "unit": "px",
          "default": 1200 
      },
      {
      "type": "color",
      "id": "cl_bg",
      "label": "Background color"
      },
	  
	  
      {
        "type": "text",
        "id": "mg",
        "label": "Margin",
        "info":"Margin top, margin right, margin bottom, margin left. If you not use to blank"
      },
      {
        "type": "text",
        "id": "pd",
        "label": "Padding",
        "info":"Padding top, padding right, padding bottom, padding left. If you not use to blank"
      },
     {
        "type": "header",
        "content": "== Design Mobile Options"
      },
      {
        "type": "text",
        "id": "mg_mb",
        "label": "Margin"
      },
      {
        "type": "text",
        "id": "pd_mb",
        "label": "Padding"
      }
    ],
	"blocks": [
	{
      "type": "hd",
      "name": "Heading",
      "settings": [
          {
          "type": "checkbox",
          "id": "hide",
          "label": "Hidden ?",
          "default": false
          },
          {
            "type": "textarea",
            "id": "title",
            "label": "Heading",
            "default": "Your main title",
			"info":"Insert <br> to line break"
          },         
          {
            "type": "color",
            "id": "color",
            "label": "Color Text",
            "default": "#111"
          },
          {
            "type": "range",
            "id": "fw_text",
            "min": 400,
            "max": 800,
            "step": 100,
            "label": "Font weight",
            "default": 600
          },
          {
            "type": "range",
            "id": "fs_text",
            "min": 14,
            "max": 100,
            "step": 1,
            "label": "Font size",
            "unit": "px",
            "default": 15
          },
          {
            "type": "range",
            "id": "lh_text",
            "min": 0,
            "max": 100,
            "step": 1,
            "label": "Line Height",
            "info": "set is '0' use to default",
            "unit": "px",
            "default": 0
          },
		  {
            "type": "text",
            "id": "ls_text",
            "label": "Letter spacing",
            "default": "0",
			"info":"set is '0' use to default"
          },
          {
              "type": "select",
              "id": "text_transform",
              "default": "none",
              "options": [
               {
                  "value": "none",
                  "label": "None"
               },
               {
                  "value": "capitalize",
                  "label": "Capitalize"
               },
               {
                  "value": "lowercase",
                  "label": "Lowercase"
               },
               {
                  "value": "uppercase",
                  "label": "Uppercase"
                }
              ],
              "label": "Text transform:"
            },
        	{
              "type": "header",
              "content": "Highlight settings"              
            },
		    {
              "type": "checkbox",
              "id": "first_mark",
              "label": "Highlight first word ?",
              "default": false
            },
            {
              "type": "checkbox",
              "id": "last_mark",
              "label": "Highlight last word ?",
              "default": false
            },
            {
              "type": "text",
              "id": "custom_mark",
              "label": "Custom position",
              "info": "Separator is '|'. Example: 1|2|3 "              
            },
            {
            "type": "color",
            "id": "color_mark",
            "label": "Color first, last, mark "
          },
			{
              "type": "range",
              "id": "mg_bottom",
              "min": 0,
              "max": 100,
              "step": 1,
              "label": "Margin bottom",
              "unit": "px",
              "default": 0
            },
		    
            {
            "type": "header",
            "content": "== mobile Settings"
            },
			{
              "type": "range",
              "id": "mobile_font_text",
              "min": 12,
              "max": 60,
              "step": 1,
              "label": "Font size",
              "unit": "px",
              "default": 12
            },
			{
              "type": "range",
              "id": "mobile_mg_bottom",
              "min": 0,
              "max": 100,
              "step": 1,
              "label": "Margin bottom",
              "unit": "px",
              "default": 0
            }
        ]
      },
		{
        "type": "txt",
        "name": "Content",
        "settings": [
            {
              "type": "textarea",
              "id": "title",
              "label": "Content",
              "default": "Short Description.",
			  "info":"Insert <br> to line break"
        
            },
            {
              "type": "color",
              "id": "color",
              "label": "Color Text",
              "default": "#111"
            },
            {
              "type": "range",
              "id": "fw_text",
              "min": 400,
              "max": 800,
              "step": 100,
              "label": "Font weight",
              "default": 400
            },
            {
              "type": "range",
              "id": "fs_text",
              "min": 10,
              "max": 50,
              "step": 0.5,
              "label": "Font size",
              "unit": "px",
              "default": 14
            },
            {
              "type": "range",
              "id": "lh_text",
              "min": 0,
              "max": 100,
              "step": 1,
              "label": "Line Height",
              "info": "set is '0' use to default",
              "unit": "px",
              "default": 0
            },
             {
              "type": "select",
              "id": "text_transform",
              "default": "none",
              "options": [
               {
                  "value": "none",
                  "label": "None"
               },
               {
                  "value": "capitalize",
                  "label": "Capitalize"
               },
               {
                  "value": "lowercase",
                  "label": "Lowercase"
               },
               {
                  "value": "uppercase",
                  "label": "Uppercase"
                }
              ],
              "label": "Text transform:"
            },
            {
              "type": "range",
              "id": "ls_text",
              "min": 0,
              "max": 10,
              "step": 0.1,
              "label": "Letter spacing",
              "info": "set is '0' use to default",
              "unit": "px",
              "default": 0
            },
			{
              "type": "range",
              "id": "mg_bottom",
              "min": 0,
              "max": 100,
              "step": 1,
              "label": "Margin bottom",
              "unit": "px",
              "default": 0
            },
            {
              "type": "checkbox",
              "id": "hide",
              "label": "Hidden ?",
              "default": false
            },
            {
            "type": "header",
            "content": "== mobile Settings"
            },
			{
              "type": "range",
              "id": "mobile_font_text",
              "min": 14,
              "max": 60,
              "step": 1,
              "label": "Font size",
              "unit": "px",
              "default": 14
            },
			{
              "type": "range",
              "id": "mobile_mg_bottom",
              "min": 0,
              "max": 100,
              "step": 1,
              "label": "Margin bottom",
              "unit": "px",
              "default": 0
            }
          ]
      },
      {
        "type": "label",
        "name": "Label",
        "settings": [
            {
              "type": "text",
              "id": "title",
              "label": "Label",
              "default": "New"
            },                              
            {
              "type": "color",
              "id": "cl_txt",
              "label": "Text color",
              "default": "#fff"
            },
            {
              "type": "color",
              "id": "cl_bg",
              "label": "Background color",
              "default": "#111"
            },
            
            {
              "type": "range",
              "id": "fs_text",
              "min": 10,
              "max": 40,
              "step": 0.5,
              "label": "Font size",
              "unit": "px",
              "default": 14
            },
            {
              "type": "range",
              "id": "fw_text",
              "min": 400,
              "max": 700,
              "step": 100,
              "label": "Font weight",
              "default": 700
            },
			{
              "type": "select",
              "id": "button_transform",
              "default": "none",
              "options": [
               {
                  "value": "none",
                  "label": "None"
               },
               {
                  "value": "capitalize",
                  "label": "Capitalize"
               },
               {
                  "value": "lowercase",
                  "label": "Lowercase"
               },
               {
                  "value": "uppercase",
                  "label": "Uppercase"
                }
              ],
              "label": "Text transform:"
            },
            {
              "type": "text",
              "id": "ls_text",
              "label": "Letter spacing",
              "info": "set is '0' use to default, unit (em) or (px)",
              "default": "0"
            },
			{
              "type": "text",
              "id": "pd",
              "label": "Padding",
              "info":"Padding top, padding right, padding bottom, padding left. If you not use to blank",
			  "default": "0 15px",
              "placeholder": "0 15px"
            },
			{
            "type": "range",
            "id": "mg_bottom",
            "min": 0,
            "max": 100,
            "step": 1,
            "label": "Margin bottom",
            "unit": "px",
            "default": 0
            },
			{
            "type": "header",
            "content": "== mobile Settings"
            },
            {
              "type": "range",
              "id": "mobile_fw_text",
              "min": 400,
              "max": 800,
              "step": 100,
              "label": "Font weight",
              "default": 600
            },
           	{
              "type": "range",
              "id": "mobile_font_text",
              "min": 12,
              "max": 60,
              "step": 1,
              "label": "Font size",
              "unit": "px",
              "default": 12
            },
            
            
			{
            "type": "range",
            "id": "mobile_mg_bottom",
            "min": 0,
            "max": 100,
            "step": 1,
            "label": "Margin bottom (mobile)",
            "unit": "px",
            "default": 0
            }

          ]
      },
      {
        "type": "btn",
        "name": "Button",
        "settings": [
            {
              "type": "text",
              "id": "title",
              "label": "Button label",
              "default": "Shop now"
            },
            {
              "type": "url",
              "id": "btn_link",
              "label": "Button link",
			  "info": "Note: if you want to display this button then you need to fill button link"
            }, 
           {
              "type": "select",
              "id": "open_link",
              "options": [
                {
                  "value": "_self",
                  "label": "Current window (_self)"
                },
               {
                  "value": "_blank",
                  "label": "New window (_blank)"
                }
              ],
              "label": "Open link in",
              "default": "_blank"
            },
            
            {
              "type": "range",
              "id": "fs_text",
              "min": 10,
              "max": 40,
              "step": 0.5,
              "label": "Font size",
              "unit": "px",
              "default": 14
            },
            {
              "type": "range",
              "id": "fw_text",
              "min": 400,
              "max": 700,
              "step": 100,
              "label": "Font weight",
              "default": 700
            },
            {
              "type": "range",
              "id": "border",
              "min": 0,
              "max": 50,
              "step": 1,
              "unit": "px",
              "label": "Border radius",
              "default": 0
            },
          
			{
              "type": "select",
              "id": "button_transform",
              "default": "none",
              "options": [
               {
                  "value": "none",
                  "label": "None"
               },
               {
                  "value": "capitalize",
                  "label": "Capitalize"
               },
               {
                  "value": "lowercase",
                  "label": "Lowercase"
               },
               {
                  "value": "uppercase",
                  "label": "Uppercase"
                }
              ],
              "label": "Text transform:"
            },
            {
              "type": "select",
              "id": "btn_style",
              "default": "link",
              "options": [
               {
                  "value": "link",
                  "label": "Link"
               },
               {
                  "value": "btn",
                  "label": "Buttons"
                }
              ],
              "label": "Design style:"
            },
            {
            "type": "header",
            "content": "== mobile Settings"
            },
			{
              "type": "range",
              "id": "mobile_font_text",
              "min": 13,
              "max": 60,
              "step": 1,
              "label": "Font size",
              "unit": "px",
              "default": 13
            }
			
          ]
      }
		
	],
    "presets": [
      {
        "name": "Text Content",
        "category": "Text",
        "blocks": [
          { "type": "hd" }
        ]
      }
    ]
  }
{% endschema %}
